@page "/"

<PageTitle>Home</PageTitle>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <Product ImageSrc="img/ebike1.png" ImageAlt="EBike" Name="EBike" Price="$40.00 - $80.00" />
            <Product ImageSrc="img/compressor.jpg" ImageAlt="compressor" Name="Compressor" Price="$20.00" />
            <Product ImageSrc="img/concrete_mixer.jpg" ImageAlt="concrete mixer" Name="Concrete Mixer" Price="$25.00" />
            <Product ImageSrc="img/excavator.jpg" ImageAlt="excavator" Name="Excavator" Price="$40.00" />
            <Product ImageSrc="img/loader.jpg" ImageAlt="loader" Name="Loader" Price="$25.00" />
            <Product ImageSrc="img/paint_sprayer.jpg" ImageAlt="paint sprayer" Name="Paint Sprayer" Price="$120.00 - $280.00" />
            <Product ImageSrc="img/sander.jpg" ImageAlt="sander" Name="Sander" Price="$18.00" />
            <Product ImageSrc="img/tile_saw.jpg" ImageAlt="tile saw" Name="Tile Saw" Price="$40.00" />
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light">
    <div class="container"><p class="m-0 text-center">Copyright &copy; Smart Choice Equipment Rentals 2024</p></div>
</footer>